name: Build and test

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**/*.md'
      - '**/*.adoc'
      - 'quarkus-todo/initialCode/**'
      - 'quarkus-todo/demo/**'
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**/*.md'
      - '**/*.adoc'
      - 'quarkus-todo/initialCode/**'
      - 'quarkus-todo/demo/**'
  workflow_dispatch:

concurrency:
  group: "workflow = ${{ github.workflow }}, ref = ${{ github.event.ref }}, pr = ${{ github.event.pull_request.id }}"
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  jvm-build-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        project:
          - quarkus-todo
          - quarkus-todo-listener
    name: jvm-build-test-${{ matrix.project }}
    steps:
      - uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin
          cache: maven

      - name: build-test
        working-directory: ${{ matrix.project }}
        run: ./mvnw -B clean verify -Dquarkus.http.host=0.0.0.0

  native-build-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        project:
          - quarkus-todo
          - quarkus-todo-listener
    name: native-build-test-${{ matrix.project }}
    steps:
      - uses: actions/checkout@v6

      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: '21'
          distribution: 'mandrel'
          native-image-job-reports: 'true'

      - name: build-test
        working-directory: ${{ matrix.project }}
        run: ./mvnw -B clean verify -Pnative -Dquarkus.http.host=0.0.0.0 -Dmaven.compiler.release=21
